<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kk.imgod.knowgirl">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.PictureDetailActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity
            android:name=".activity.ZhiHuDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.FreshDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>